@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* @font-face {
font-family: 'PricedownBl-Regular';
font-style: normal;
font-weight: normal;
src: local('PricedownBl-Regular'), url('./fonts/pricedown bl.woff') format('woff');
}
 */
@font-face {
  font-family: pricedown;
  src: url('./fonts/pricedown.black.otf');
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "PricedownBl-Regular";
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;  
}
